# Libaries, Data, Google Drive

Before running any code, run this cell that import everything and install all that is needed. This will also connect to Google Drive and Google Cloud SDK to get all the relevant files. We connect to Google Drive so we can download all the raw data that is uploaded and stored there. We will also use google Google Drive to save our data after we have labeled it and pre-processes it. And then we will import the datasets we will use to then run the visualization and regression. In this cell we also have a definition called def get_compData(comp):. This is a definion that we will use to gather our data for a comapny using the stock ticker and download from a shared file we got from students at University at Sydeny.

In [ ]:
#Installing libaries that is not pre-installed in Google Colab
!pip install contractions
!pip install emoji
!pip install ekphrasis
!pip install -U -q PyDrive
!pip install yfinance --upgrade --no-cache-dir

#Importing all libaries needed for all of our code
import contractions
import datetime
from datetime import datetime , timedelta, date
import emoji
import itertools
import json
import matplotlib.pyplot as plt
from matplotlib.ticker import FormatStrFormatter, StrMethodFormatter
import nltk
nltk.download('punkt')
nltk.download('stopwords')
from nltk.corpus import stopwords as sw
from nltk.stem import PorterStemmer
from nltk.tokenize import TweetTokenizer, word_tokenize
from nltk.tokenize.treebank import TreebankWordDetokenizer
import numpy as np
import os
import pandas as pd
import pprint
from pprint import pprint
import random
import re
import requests 
import seaborn as sns
import string
import sys
import tensorflow as tf
import tensorflow_hub as hub
from tensorflow import keras
import torch
import yfinance as yf
from ekphrasis.classes.segmenter import Segmenter
from pydrive.auth  import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth,  drive
from oauth2client.client import GoogleCredentials
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import CountVectorizer, TfidfTransformer, TfidfVectorizer
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.model_selection import GridSearchCV, train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline

#Mount's to Google Drive
drive.mount('/content/drive')

#Connect's to Google Cloud SDK
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

#Defintion to get comapnies data from google drive share function
def get_compData(comp):
  if comp =='AAPL':
    # AAPL: https://drive.google.com/file/d/1diLooyj8DtyyxwiihpbTJdfY4D98irLE/view?usp=sharing
    id = '1diLooyj8DtyyxwiihpbTJdfY4D98irLE'
    downloaded1 = drive.CreateFile({'id':id}) 
    downloaded1.GetContentFile('stocktwits_AAPL.csv')
    df_st1 = pd.read_csv('stocktwits_AAPL.csv')
    return df_st1
  elif comp=='ADBE':
    # ADBE: https://drive.google.com/file/d/1SMyRg8aUnnQTbukVadBo814qdS6xDnP1/view?usp=sharing
    id = '1SMyRg8aUnnQTbukVadBo814qdS6xDnP1'
    downloaded2 = drive.CreateFile({'id':id}) 
    downloaded2.GetContentFile('stocktwits_ADBE.csv')
    df_st2 = pd.read_csv('stocktwits_ADBE.csv')
    return df_st2
  elif comp=='AMZN':
    # AMZN: https://drive.google.com/file/d/1ffmFOrlcaTCCByKMq7E1LCXXK6daMkB_/view?usp=sharing
    id = '1ffmFOrlcaTCCByKMq7E1LCXXK6daMkB_'
    downloaded3 = drive.CreateFile({'id':id}) 
    downloaded3.GetContentFile('stocktwits_AMZN.csv')
    df_st3 = pd.read_csv('stocktwits_AMZN.csv')
    return df_st3
  elif comp=='BAC':
    # BAC: https://drive.google.com/file/d/1HeaKJtlSz2xiLT3sx5FLdYmzCkVDGIjW/view?usp=sharing
    id = '1HeaKJtlSz2xiLT3sx5FLdYmzCkVDGIjW'
    downloaded4 = drive.CreateFile({'id':id}) 
    downloaded4.GetContentFile('stocktwits_BAC.csv')
    df_st4 = pd.read_csv('stocktwits_BAC.csv')
    return df_st4
  elif comp=='BRK.A':
    #BRK_A: https://drive.google.com/file/d/1HeQhAU20YyT1tRCD-yN83vrUGY7jDDSt/view?usp=sharing
    id = '1HeQhAU20YyT1tRCD-yN83vrUGY7jDDSt'
    downloaded5 = drive.CreateFile({'id':id}) 
    downloaded5.GetContentFile('stocktwits_BRK_A.csv')
    df_st5 = pd.read_csv('stocktwits_BRK_A.csv')
    return df_st5
  elif comp=='BRK.B':
    #BRK_B: https://drive.google.com/file/d/1FRrwrIVJVyFqg025SWasKW84qOJMhe84/view?usp=sharing
    id = '1FRrwrIVJVyFqg025SWasKW84qOJMhe84'
    downloaded6 = drive.CreateFile({'id':id}) 
    downloaded6.GetContentFile('stocktwits_BRK_B.csv')
    df_st6 = pd.read_csv('stocktwits_BRK_B.csv')
    return df_st6
  elif comp=='DIA':
    #DIA: https://drive.google.com/file/d/1riZ8IdkupLre9NQ7McBO21wDFVX_NPvg/view?usp=sharing
    id = '1riZ8IdkupLre9NQ7McBO21wDFVX_NPvg'
    downloaded7 = drive.CreateFile({'id':id}) 
    downloaded7.GetContentFile('stocktwits_DIA.csv')
    df_st7 = pd.read_csv('stocktwits_DIA.csv')
    return df_st7
  elif comp=='DIS':
    #DIS: https://drive.google.com/file/d/1y5IT3gA_yIJnFLTsxy1GHdIY4SHwj84Y/view?usp=sharing
    id = '1y5IT3gA_yIJnFLTsxy1GHdIY4SHwj84Y'
    downloaded8 = drive.CreateFile({'id':id}) 
    downloaded8.GetContentFile('stocktwits_DIS.csv')
    df_st8 = pd.read_csv('stocktwits_DIS.csv')
    return df_st8
  elif comp=='FB':
    #FB: https://drive.google.com/file/d/1x1FugJhUQx9xKWS9LYnio1MU8oi5iuTc/view?usp=sharing
    id = '1x1FugJhUQx9xKWS9LYnio1MU8oi5iuTc'
    downloaded9 = drive.CreateFile({'id':id}) 
    downloaded9.GetContentFile('stocktwits_FB.csv')
    df_st9 = pd.read_csv('stocktwits_FB.csv')
    return df_st9
  elif comp=='GOOG':
    #GOOG: https://drive.google.com/file/d/1UMnPXfG_XkgLJAQ2VtLvMPBPZhN68Ezw/view?usp=sharing
    id = '1UMnPXfG_XkgLJAQ2VtLvMPBPZhN68Ezw'
    downloaded10 = drive.CreateFile({'id':id}) 
    downloaded10.GetContentFile('stocktwits_GOOG.csv')
    df_st10 = pd.read_csv('stocktwits_GOOG.csv')
    return df_st10
  elif comp=='GOOGL':
    #GOOGL: https://drive.google.com/file/d/1NbCpQX0sTgXsqcW7xMbkrDPlAOscIoTL/view?usp=sharing
    id = '1NbCpQX0sTgXsqcW7xMbkrDPlAOscIoTL'
    downloaded11 = drive.CreateFile({'id':id}) 
    downloaded11.GetContentFile('stocktwits_GOOGL.csv')
    df_st11 = pd.read_csv('stocktwits_GOOGL.csv')
    return df_st11
  elif comp=='HD':
    #HD: https://drive.google.com/file/d/10wbCzJMcjLWAqrlEtHlWieIrq7dyolG2/view?usp=sharing
    id = '10wbCzJMcjLWAqrlEtHlWieIrq7dyolG2'
    downloaded12 = drive.CreateFile({'id':id}) 
    downloaded12.GetContentFile('stocktwits_HD.csv')
    df_st12 = pd.read_csv('stocktwits_HD.csv')
    return df_st12
  elif comp=='INTC':
    # INTC: https://drive.google.com/file/d/1k1-NSl8qLTa2oDs1G8CFC4CJzkv9mugw/view?usp=sharing 
    id = '1k1-NSl8qLTa2oDs1G8CFC4CJzkv9mugw'
    downloaded13 = drive.CreateFile({'id':id}) 
    downloaded13.GetContentFile('stocktwits_INTC.csv')
    df_st13 = pd.read_csv('stocktwits_INTC.csv')
    return df_st13
  elif comp=='JNJ':
    # JNJ: https://drive.google.com/file/d/1Qiwu9vbDYU527szR8waaFDoFCyY4i_bc/view?usp=sharing
    id = '1Qiwu9vbDYU527szR8waaFDoFCyY4i_bc'
    downloaded14 = drive.CreateFile({'id':id}) 
    downloaded14.GetContentFile('stocktwits_JNJ.csv')
    df_st14 = pd.read_csv('stocktwits_JNJ.csv')
    return df_st14
  elif comp=='NFLX':
    # NFLX: https://drive.google.com/file/d/1DdJ8MPdgt9bxF3ZagkWUp45N4RMQ8Al6/view?usp=sharing
    id = '1DdJ8MPdgt9bxF3ZagkWUp45N4RMQ8Al6'
    downloaded15 = drive.CreateFile({'id':id}) 
    downloaded15.GetContentFile('stocktwits_NFLX.csv')
    df_st15 = pd.read_csv('stocktwits_NFLX.csv')
    return df_st15
  elif comp=='PG':
    # PG: https://drive.google.com/file/d/1tlueLaJhlduNMgRHk8Omkog5nNI8I8Yk/view?usp=sharing
    id = '1tlueLaJhlduNMgRHk8Omkog5nNI8I8Yk'
    downloaded16 = drive.CreateFile({'id':id}) 
    downloaded16.GetContentFile('stocktwits_PG.csv')
    df_st16 = pd.read_csv('stocktwits_PG.csv')
    return df_st16
  elif comp=='QQQ':
    # QQQ: https://drive.google.com/file/d/1gUsl5L4VBgsL9oqBxaUdk6tA9r4VxDjo/view?usp=sharing
    id = '1gUsl5L4VBgsL9oqBxaUdk6tA9r4VxDjo'
    downloaded17 = drive.CreateFile({'id':id}) 
    downloaded17.GetContentFile('stocktwits_QQQ.csv')
    df_st17 = pd.read_csv('stocktwits_QQQ.csv')
    return df_st17
  elif comp=='SPY':
    # SPY: https://drive.google.com/file/d/10s-zYQPIqlkNsUahgzDRqJGw0VAkn-R1/view?usp=sharing
    id = '10s-zYQPIqlkNsUahgzDRqJGw0VAkn-R1'
    downloaded18 = drive.CreateFile({'id':id}) 
    downloaded18.GetContentFile('stocktwits_SPY.csv')
    df_st18 = pd.read_csv('stocktwits_SPY.csv')
    return df_st18
  elif comp=='T':
    # T: https://drive.google.com/file/d/1rk3PsikhgrA7MxV28tUbzj7EOn9K5Ixu/view?usp=sharing
    id = '1rk3PsikhgrA7MxV28tUbzj7EOn9K5Ixu'
    downloaded19 = drive.CreateFile({'id':id}) 
    downloaded19.GetContentFile('stocktwits_T.csv')
    df_st19 = pd.read_csv('stocktwits_T.csv')
    return df_st19
  elif comp=='TSLA':
    # TSLA: https://drive.google.com/file/d/1on57uk2gd_CLsnj1dcRfuB_KsYydzEp2/view?usp=sharing
    id = '1on57uk2gd_CLsnj1dcRfuB_KsYydzEp2'
    downloaded20 = drive.CreateFile({'id':id}) 
    downloaded20.GetContentFile('stocktwits_TSLA.csv')
    df_st20 = pd.read_csv('stocktwits_TSLA.csv')
    return df_st20
  elif comp=='UNH':
    # UNH: https://drive.google.com/file/d/1zguMHb3pL2tCT4TYV8XJcP-dWTcq28mY/view?usp=sharing
    id = '1zguMHb3pL2tCT4TYV8XJcP-dWTcq28mY'
    downloaded21 = drive.CreateFile({'id':id}) 
    downloaded21.GetContentFile('stocktwits_UNH.csv')
    df_st21 = pd.read_csv('stocktwits_UNH.csv')
    return df_st21
  elif comp=='V':
    # V: https://drive.google.com/file/d/1qLI1Rsyf2ebZu53I8QaFuOQSeTyZShLg/view?usp=sharing
    id = '1qLI1Rsyf2ebZu53I8QaFuOQSeTyZShLg'
    downloaded22 = drive.CreateFile({'id':id}) 
    downloaded22.GetContentFile('stocktwits_V.csv')
    df_st22 = pd.read_csv('stocktwits_V.csv')
    return df_st22
  elif comp=='VIX':
    # VIX: https://drive.google.com/file/d/1SoIue0nfsn_GGMOroFg3tEp8re-v7PnJ/view?usp=sharing
    id = '1SoIue0nfsn_GGMOroFg3tEp8re-v7PnJ'
    downloaded23 = drive.CreateFile({'id':id}) 
    downloaded23.GetContentFile('stocktwits_VIX.csv')
    df_st23 = pd.read_csv('stocktwits_VIX.csv')
    return df_st23
  elif comp=='VZ':
    # VZ: https://drive.google.com/file/d/1ddISbB0qfDpM69senqEmmf6xbNWOpNUJ/view?usp=sharing
    id = '1ddISbB0qfDpM69senqEmmf6xbNWOpNUJ'
    downloaded24 = drive.CreateFile({'id':id}) 
    downloaded24.GetContentFile('stocktwits_VZ.csv')
    df_st24 = pd.read_csv('stocktwits_VZ.csv')
    return df_st24
  elif comp=='WMT':
    # WMT: https://drive.google.com/file/d/14Zdh1ZCj5RxZltXknG3Qisxhwzge5rkV/view?usp=sharing
    id = '14Zdh1ZCj5RxZltXknG3Qisxhwzge5rkV'
    downloaded25 = drive.CreateFile({'id':id}) 
    downloaded25.GetContentFile('stocktwits_WMT.csv')
    df_st25 = pd.read_csv('stocktwits_WMT.csv')
    return df_st25

#Labeling process, Pre-processing, and Cleaning.

Under in the next two cells is the code for first (cell 1) binary labeling process, and second (cell 2) the percentage labeling process. Both are quite similar, but percentage has three labels (1,0,-1) and binary has two (1,0). Both processes also run pre-processing of the code and cleaning/formating. These processes are the same in both labeling techniques.

We will first look at the Binary (Positive, Negative) method.

In [67]:
#Get the company data from the defintion above and saves it as df_st1
df_st1 = get_compData('T')

#This is the directory where i want to save the file. This will be used later for the saving of the data after labeling and preprocessing.
PATH='/content/drive/My Drive/StockTwits Data Binary/'

The next two cell is just for looking at the raw data for the company before we do anything.

In [68]:
#Displays the head (5 first rows) of our chosen comapny data. 
df_st1.head()

,symbol,message,datetime,user,message_id
0,T,$UBER Didn’t I say an offer is imminent!? @eel...,2020-07-21T20:32:35Z,2892577,229708771
1,T,"$T Weird$$ stock, we just need a close above 3...",2020-07-21T20:11:39Z,1194576,229699883
2,T,$T waiting for this to go down so I can load u...,2020-07-21T19:12:10Z,3460289,229672486
3,T,$T Pretty good behavior today. Ideally end of ...,2020-07-21T18:45:06Z,3393453,229660767
4,T,$T Citi reiterates AT&amp;T headed into earnin...,2020-07-21T18:34:05Z,3729123,229656088

In [69]:
#Displays the tail (5 last rows) of our chosen comapny data. 
df_st1.tail()

,symbol,message,datetime,user,message_id
70311,T,@toddsullivan you think the $S network is that...,2009-10-27T18:20:40Z,409,713989
70312,T,am curious what $T would be like w/o $AAPL... ...,2009-10-27T16:27:09Z,409,713291
70313,T,@toddsullivan thinking of leaving $T; they won...,2009-10-27T16:25:18Z,409,713276
70314,T,"speaking of #stuffthatdoesn&#39;twork, $T web ...",2009-10-23T00:10:01Z,78,700068
70315,T,$T on the morning dip huge volume..,2009-10-20T13:28:37Z,1086,686674

The format that is in the raw data we gathered from google drive with StockTwits messages to a company is not the best one to work with. So we change this up by the code under. What we do is we change the type first, then split it up and add two new columns to the dataset. We will then have three columns "datetime", "Date", and "Time". We do this so we can easier work with the data, and when we later include Yahoo Fiance data that we will gather, we can easily compare and have the same format for both datasets.

In [70]:
#Change the type of datetime column to datetime64[ns]
df_st1['datetime'] = df_st1['datetime'].astype('datetime64[ns]')

#Creates a new column called Date, that for every datetime takes out the date
df_st1['Date'] = [d.date() for d in df_st1['datetime']]

#Creates a new column called Time, that for every datetime takes out the time
df_st1['Time'] = [d.time() for d in df_st1['datetime']]

For some companies, we got an error while doing this method. That's because later we will run a loop to set a stock price for the days where there is none (eg. public holidays and weekends). For some of the data, an error occurred because there were two days left behind after running the code not getting the average price that it should. We wrote this code to drop the two latest days, and afterward, everything worked. 

Important to just run the cell under if company is either; AAPL, ADBE, BRK.A, BRK.B, GOOG, and GOOGL. Remove the two "##" before every line and run.

In [71]:
##df_st1 = df_st1.drop(df_st1[df_st1['Date'] == df_st1['Date'][0]].index, inplace = False)
##df_st1 = df_st1.reset_index(drop=True)
##df_st1 = df_st1.drop(df_st1[df_st1['Date'] == df_st1['Date'][0]].index, inplace = False)
##df_st1 = df_st1.reset_index(drop=True)

We can now inspect the data again to see the extra columns and that everything looks like it should.

In [72]:
#Displays the head (3 first rows) of our chosen company data. 
df_st1.head(3)

,symbol,message,datetime,user,message_id,Date,Time
0,T,$UBER Didn’t I say an offer is imminent!? @eel...,2020-07-21 20:32:35,2892577,229708771,2020-07-21,20:32:35
1,T,"$T Weird$$ stock, we just need a close above 3...",2020-07-21 20:11:39,1194576,229699883,2020-07-21,20:11:39
2,T,$T waiting for this to go down so I can load u...,2020-07-21 19:12:10,3460289,229672486,2020-07-21,19:12:10

So the next lines of code are the code that we will use to get the start and end date for our dataset, so we can use this to get all Yahoo Finance data, and start the process of labeling our data. The code under consist of first getting the date, that is at the top and bottom of our dataset and then it will change is to the correct format that Yahoo Finance use, and add a day to end so we get the open price for the latest day.

In [73]:
#Takes the last row of our dataframe and string from "Date" column. 0 is the latest date, and -1 is the last one in the dataframe, e.g. the first date we have data from. 
start_dt = str(df_st1['Date'].iloc[-1])
start_dt = str((datetime.strptime(start_dt, "%Y-%m-%d") + timedelta(days=-1)).strftime("%Y-%m-%d"))

#Change the start_dt to the correct format; %Y-%m-%d, and use the time delta to find out the difference from the last date and add one day, so we will get data from all days and not miss the first one. start_dt = str((datetime.strptime(start_dt, "%Y-%m-%d") + timedelta(days=-1)).strftime("%Y-%m-%d"))

end_dt = str(df_st1['Date'].iloc[0])
end_dt =  str((datetime.strptime(end_dt, "%Y-%m-%d") + timedelta(days=1)).strftime("%Y-%m-%d"))

Under we will get the stock symbol for the company that we work with so Yahoo Finance can use it to gather the correct data. We will also set the saving path called PATH and PATH2 to know where and what we will save the labeled, processed, and cleaned data files. Label 2.1 shows that the labeling process that was used is the same day technique and that Label 2.2 is the previous day technique.

In [74]:
#Sets compny to be the value in the first row of the dataset in the symbol column.
compny = df_st1['symbol'].iloc[0]

#Sets the two path where we will save the files after labeling them. 
PATH2 = PATH+compny+'_binary_label2.2.csv'#PREVDAY
PATH = PATH+compny+'_binary_label2.1.csv'#SAMEDAY

Our dataset uses one format for the stock tickers, and yahoo finance uses another. So to fix this we have a short if statement code that checks if the company ticker is in the wrong format, e.g. "BRK.A", it will be changed to the correct one; BRK-A.

In [75]:
#If statement chaning the compny to the correct format so it will gather correctly later form  Yahoo Fianace.
if compny =='BRK.A':
  compny = 'BRK-A'
elif compny =='BRK.B':
  compny ='BRK-B'
elif compny =='VIX':
  compny = '^VIX'
else:
  pass

Now we have everything we need to run the code to gather our data from Yahoo Finance. To do this we use the yfiance library we imported earlier. This is a library made to gather financial data.

In [76]:
#Sets yahoo_data to be the downloaded data with stock symbol = compny, we start at start_dt and end at end_dt.
yahoo_data = yf.download(compny, start=start_dt, end=end_dt)

#We need to reset the index so the date is not the indexing for our data set and that the date gets its column.
yahoo_data.reset_index(level=0, inplace=True)

#Displays the columns for data we just downloaded from Yahoo Finance. 
yahoo_data.columns

[*********************100%***********************]  1 of 1 completed

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

Under we diaplays the head and the tail of the data to see better what kind of values it contains.

In [77]:
#Displays the head (5 first rows) of our downloaded finance data. 
yahoo_data.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2009-10-19  19.501511  19.690332  19.410875  19.637463   9.550318  34293718
1 2009-10-20  19.826284  19.826284  19.463745  19.629910   9.546641  45887192
2 2009-10-21  19.743202  19.780968  19.501511  19.592146   9.528278  40552664
3 2009-10-22  19.924471  20.120846  19.652569  19.712992   9.587046  57928442
4 2009-10-23  19.750755  19.826284  19.290030  19.433535   9.451137  49091140

In [78]:
#Displays the tail (5 last rows) of our downloaded finance data. 
yahoo_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2702,2020-07-15,22.711479,22.756798,22.545317,22.666162,20.012671,40985612
2703,2020-07-16,22.635952,23.036255,22.598186,22.953173,20.266079,43674920
2704,2020-07-17,23.021149,23.058912,22.794561,22.847431,20.172720,30634712
2705,2020-07-20,22.794561,22.794561,22.507553,22.545317,19.905973,42896938
2706,2020-07-21,22.575529,22.975830,22.552870,22.847431,20.172720,45341572

Under we make a dataframe called df_prices which is the data we just downloaded. We also change the format for Date column in df_prices to the same that we uses in df_st1.

In [79]:
#We set the variables start_dt and end_dt to start_date and end_date that we will use under.
start_date = start_dt
end_date = end_dt

#Here we make the new dataframe called df_prices containing data we downloaded for the company.
df_prices = pd.DataFrame(yahoo_data)

#We change the format of the "Date" column for the dataset with newly downloaded finance data.
df_prices['Date'] =  pd.to_datetime(df_prices['Date'], format='%Y-%m-%d')

In [80]:
#Displays 5 sample rows form the dataframe df_prices
df_prices

,Date,Open,High,Low,Close,Adj Close,Volume
0,2009-10-19,19.501511,19.690332,19.410875,19.637463,9.550318,34293718
1,2009-10-20,19.826284,19.826284,19.463745,19.629910,9.546641,45887192
2,2009-10-21,19.743202,19.780968,19.501511,19.592146,9.528278,40552664
3,2009-10-22,19.924471,20.120846,19.652569,19.712992,9.587046,57928442
4,2009-10-23,19.750755,19.826284,19.290030,19.433535,9.451137,49091140
...,...,...,...,...,...,...,...
2702,2020-07-15,22.711479,22.756798,22.545317,22.666162,20.012671,40985612
2703,2020-07-16,22.635952,23.036255,22.598186,22.953173,20.266079,43674920
2704,2020-07-17,23.021149,23.058912,22.794561,22.847431,20.172720,30634712
2705,2020-07-20,22.794561,22.794561,22.507553,22.545317,19.905973,42896938
2706,2020-07-21,22.575529,22.975830,22.552870,22.847431,20.172720,45341572

Now we just want to check how many messages we have and how many days we have in total that we will label and pre-process.

In [81]:
#Tweet_dates adds all the dates for the company and stocktwits datafile to a list.
tweet_dates = (df_st1['Date'].astype(str)).tolist()

#Stock_dates adds all the dates from yahoo fiance dataframe to a list
stock_dates = (df_prices['Date'].astype(str)).tolist()

#Print how many we have of each. Tweet dates have many more because alot of messages comes in each date.
print(len(tweet_dates))
print(len(stock_dates))

70316
2707

In the code under we will sett all_days to equal the date range between start_date and end_date. We will then sort the df_prices dataframe. This way it will be the same as our dataframe. We then set the index of df_prices to be the "Date" column. Then we add all the days that we have data from to the df_prices column. SInce from Yahoo Finance it wont gather any data from example public holidays, so know we fill them with just NaN, since we have data from those days gatherd from StockTwits.

In [82]:
all_days = pd.date_range(start=start_date, end=end_date, freq='D')
df_prices = df_prices.sort_values(by=['Date'], ascending=[True])
df_prices.set_index('Date', inplace=True)
df_prices = df_prices.reindex(all_days).reset_index().rename(columns={"index":"Date"})

Here we will calculate and clean up the data that we now have in df_prices. Alot is empty so we will fill them by calculating the mean of the value above and under. This is so we get to fill out df_prices and have data for every day where there has been sent messages.

In [83]:
#Remove last row with NaN
if np.isnan(df_prices.iloc[-1][1]):
  df_prices.drop(df_prices.tail(1).index,inplace=True)

#A for loop that will fill missing values calculating mean
#Will go over all rows in df_prices
for i in range(len(df_prices)):
  
  #Continue if open price is NaN 
  if np.isnan(df_prices.iloc[i][1]): 
    
    #Set counter to 0
    counter = 1 
    
    #While the counter is not 0 it will run the loop
    while counter != 0:
      
      #This will find the next value that is not NaN using counter. 
      if ~np.isnan(df_prices.iloc[i+counter][1]):

        #For loop in range of 1,7
        for j in range(1, 7):

          #Will set new to be the mean of the two prices that it has found
          new = (df_prices.iloc[i - 1][j] + df_prices.iloc[i + counter][j]) / 2

          #Will set the df_prices row that had a NaN with the new mean price that we calculatied.
          df_prices.at[i, df_prices.columns[j]] = new
        break
      counter += 1

We then have all the data in df_prices to generate the binary labeling for our StockTwits data in df_st1. We have two methods that we will use. One that calculates the change using the open price of a day and the close price of that day. Then we also have a method that will look at the close price of a previous day and the close price of the current day. Just run the cell that you want to use to label the data.

In [84]:
#This will measure the label we need using the sameday technique
# price_change = []
# for i in range(len(df_prices)):
#   if df_prices.iloc[i][4] > df_prices.iloc[i][1]:
#     price_change.append(1)
#   else:
#     price_change.append(0)
# df_prices['PriceChange'] = price_change

In [86]:
#This will measure the label we need using the sameday technique 
price_change = []
for i in range(len(df_prices)):
  if df_prices.iloc[i-1][4] < df_prices.iloc[i][4]:
    price_change.append(1)
  else:
    price_change.append(0)
df_prices['PriceChange'] = price_change

In [87]:
#Displays the value counts of PriceChnage column in df_prices. 
df_prices['PriceChange'].value_counts()

1    2089
0    1840
Name: PriceChange, dtype: int64

Now we need to set the label for our dataframe which includes the StockTwits data. So to do this we wrote a function called get_polarity (date): that we can call back to to get for the date we give the label it has labeled the date. We then for loop every message in the df_st1 dataframe and add the label to the correct dates. We need to do this because there are many messages on the same day.

In [88]:
#Function to return tha label we have for the given date in df_prices. We return this as rslt_df
def get_label (date):
  rslt_df = df_prices[df_prices['Date'] == date] 
  return rslt_df['PriceChange'].values[0]

#For loop using the def above to gather the label for the correct date at then lookup the row its on and add the label to df_st1 label column
for i in range(len(df_st1)):
  label = get_label(df_st1.iloc[i][5].strftime("%Y-%m-%d"))
  df_st1.at[i, 'label'] = label

This just checks the df_prices that there is nothing that: isna should come out as False, notnull should come out at True, and isnull should come out as False. If it does that then everything is good and we can continue.

In [36]:
#This will print if the df_prices inclued any errors. 
print(df_prices.isna().values.any())
print(df_prices.notnull().values.all())
print(df_prices.isnull().values.any())

False
True
False

Now we just need to convert the labeling column to int, making our labeling process done. We need to run this code many times for each company and both methods so in total 50 times. We can also inspect our data to see that everything looks good before starting with the pre-processing of the text in messages column.

In [89]:
#Turning "label" column in df_st1 to first a float then a int.
df_st1["label"] = df_st1["label"].astype(float).astype(int)

In [90]:
df_st1.head(3)

,symbol,message,datetime,user,message_id,Date,Time,label
0,T,$UBER Didn’t I say an offer is imminent!? @eel...,2020-07-21 20:32:35,2892577,229708771,2020-07-21,20:32:35,1
1,T,"$T Weird$$ stock, we just need a close above 3...",2020-07-21 20:11:39,1194576,229699883,2020-07-21,20:11:39,1
2,T,$T waiting for this to go down so I can load u...,2020-07-21 19:12:10,3460289,229672486,2020-07-21,19:12:10,1

In [91]:
df_st1.tail(3)

,symbol,message,datetime,user,message_id,Date,Time,label
70313,T,@toddsullivan thinking of leaving $T; they won...,2009-10-27 16:25:18,409,713276,2009-10-27,16:25:18,1
70314,T,"speaking of #stuffthatdoesn&#39;twork, $T web ...",2009-10-23 00:10:01,78,700068,2009-10-23,00:10:01,0
70315,T,$T on the morning dip huge volume..,2009-10-20 13:28:37,1086,686674,2009-10-20,13:28:37,0

In [92]:
df_st1.sample(5)

,symbol,message,datetime,user,message_id,Date,Time,label
20239,T,Taiwan Semiconductor Mfg. announces annual div...,2019-06-13 21:44:51,284225,167430973,2019-06-13,21:44:51,1
50413,T,$T https://www.nytimes.com/2017/03/01/technolo...,2017-03-02 02:29:27,458426,75970576,2017-03-02,02:29:27,1
37038,T,$HUSA $SWN $HTZ $T $CRON $AMD $FIT,2018-07-26 05:23:32,1533778,131445971,2018-07-26,05:23:32,1
33288,T,$T what gives this is up😂,2018-09-10 13:39:20,1107807,136688444,2018-09-10,13:39:20,1
45659,T,$T just needs merger approval but US govt not ...,2017-11-01 18:02:49,584870,99787385,2017-11-01,18:02:49,0

Now the process where we need to process all the messages starts. This is a process containing many steps such as removing links, removing, mentions, removing hashtags, and emojis. Since our data is in a "Social media" language we need to do this to get the result that we feel reflects the sentiment of the message in our research. In the process, we will write definitions that do the processing for each message and it will loop over every message. IF the dataset is large this can take some time. We will also here use a tweet tokenizer and detokenizer to get the word to a sentence again. We also use a segmenter since this is twitter language.

First we will start by making all the messages lowercase and adding them to a list we call message.

In [94]:
#Every message in df_st1 get edited to a lowercase.
df_st1['message'] = df_st1['message'].str.lower()

#This adds all of the messages to a list called message
message = df_st1['message'].tolist()

Here comes the diffrent defintion that we will use in our loop.

In [99]:
#Removes stopwords form a message. This we need to do after going thorugh every word in the sentenc and setting it back. 
def remove_stopwords(msg):
    #filtered_sentence is a loop that go througs and removes everything thats a stopword and then return the message.
    filtered_sentence = [w for w in msg_tokens if not w in stop_words]
    return filtered_sentence

#Removes URLS, mentions hashtags, and emojies. 
def remove_punctuation_re(x):
    #Removes the urls thata are in the messages using re.sub (found online)
    x = ' '.join(re.sub("https?://\S+","",x).split())     

    #Removes all mentions in the messages using re.sub (found online)
    x = ' '.join(re.sub("^@\S+|\s@\S+","",x).split())     

    x = ' '.join(re.sub(r'[^$\w\s]'," ",x).split())
    
    #Removes hashtages using re.sub (found online)
    x = ' '.join(re.sub(r'[^\w\s]'," ",x).split())        

    #Removes the underscore "_" from emojis using re.sub (found online)
    x = ' '.join(re.sub(r'_'," ",x).split())              

    #Returns the word that are beign processes
    return x

#Defintion that removed 
def rpt_replace(match):
    print(match.group(1))
    return match.group(1)+match.group(1)
  
#Defenition that
def processRepeatings(data):
    re_t= re.sub(message_rpt, rpt_replace, data )
    #print(re_t)
    return re_t

All defentions is set and we now need to download the stopwords, tweet tokanizer that dont split the hashtags from words and set the detokanizer. We also need to set the segmetner that we will use so we acutally can get words out of the hashtags that gives moremeaning for an AI.

In [100]:
#Getting the stopwords that is english
stop_words = sw.words("english")

#Tweet_tokanizer, is a tokanizer that dont splits the hashtags from the word. 
tweet_tokenizer = TweetTokenizer()

#Detokanizer that we will use 
detokenizer = TreebankWordDetokenizer()

#For repeating characters in words
message_rpt = re.compile(r"(.)\1{2,}", re.IGNORECASE)

#Segmenter that will make hashtags into words. e.g., #netflixwillgoup = netflix will go up
seg_tw = Segmenter(corpus="twitter")

Reading twitter - 1grams ...
Reading twitter - 2grams ...

We will start with an empty list. Then we will run a loop for all messages in df_st1. If the message is NaN then we will set it to -1. Else it will continue with the loop and first remove emojis, or at least demojize them; for example, a 😠 to "_angry_face" and then later in the process make it into "angry face". It will then fix contractions meaning you're becomes you are and I'm become what I am. I will then run the definition remove_punctuation_re doing the processing. Then all messages will be tokanized and a loop start that will turn hashtags into words using a segmenter. It will then remove all stopwords from the message and remove retweets and make it to a -1 as we did with NaN messages. Lastly, the code will detokanize the message making it back to a whole sentence, and then remove repeating characters. This works on a whole sentence. We then append the msg to message_p and it will go over all rows in df_st1.

In [ ]:
message_p = []

for msg in message:

    if msg == '0': #nan replaced by '0'
      message_p.append('-1')

    else:
      # remove emojis
      msg = emoji.demojize(msg)

      # fix contractions
      msg = contractions.fix(msg)

      # remove punctuations
      msg = remove_punctuation_re(msg) 

      #tokenize
      msg_tokens = tweet_tokenizer.tokenize(msg)

      #For Hashtags elongated words using Word segmenter
      message_seg = []
      for w in msg_tokens:
        if len(w)>=300:
          w=w[:100]
        message_seg.append(seg_tw.segment(w))

      # remove stopwords
      msg = remove_stopwords(message_seg)

      if 'rt' in msg:
        # remove retweets
        message_p.append('-1')
      else: 
        # detokenize
        msg = detokenizer.detokenize(msg)

        # removing repeating characters like hurrrryyyyyy-- worrks on tokenized list
        msg = processRepeatings(msg)

        message_p.append(msg)

Now we can take a look on how the messages appear after the pre-processing and making it cleaner and rawer, which is good for our usecase.

In [105]:
message_p[:10]

['uber say offer imminent thinks emotional whenever legit analysis simple math body really knows well 10 years know going lose many billions smart invest high value plenty better investment market short longterm buy undervalued dividend paying stock people chase short term runups lyft follow recommend coty intc short term might unattractive long term decent cash influx appreciation difficult times',
 'weird stock need close 30 4 rocket',
 'waiting go load calls smh',
 'pretty good behavior today ideally end day see 30 35ish',
 'citi reiterates amp headed earnings expecting profit beat topics could found',
 'parabolic thinking face',
 'telecom work home feel like bubble levels',
 'completed delivery managed trusted internet protocol services mtips national labor relations board',
 'concern citi buy recommendation noticed immediate price action often contrary recommendations still following price action around prints',
 '39 release second quarter results offering clearer picture various challenges faced different parts communications media conglomerate due coronavirus pandemic']

Now we can replace the messages in the df_st1 datafram (Original ones) with the processes ones. We do this in the code under. We also drop all messages that was eiter retweets or a NaN value.

In [106]:
df_st1['message'] = message_p

df_st1.drop(df_st1[df_st1['message'] == '-1'].index, inplace = True)

We can inspect the dataframe know what it looks like before we save it into our google drive. The file will be saved as the path we wrote early in the code. If the price labeling method is the sameday then we need to set path to PATH and if it is the previous day method we need to change it to PATH2. Remember to do this so everything is correct

In [107]:
df_st1.head()

,symbol,message,datetime,user,message_id,Date,Time,label
0,T,uber say offer imminent thinks emotional whene...,2020-07-21 20:32:35,2892577,229708771,2020-07-21,20:32:35,1
1,T,weird stock need close 30 4 rocket,2020-07-21 20:11:39,1194576,229699883,2020-07-21,20:11:39,1
2,T,waiting go load calls smh,2020-07-21 19:12:10,3460289,229672486,2020-07-21,19:12:10,1
3,T,pretty good behavior today ideally end day see...,2020-07-21 18:45:06,3393453,229660767,2020-07-21,18:45:06,1
4,T,citi reiterates amp headed earnings expecting ...,2020-07-21 18:34:05,3729123,229656088,2020-07-21,18:34:05,1

In [108]:
df_st1['label'].value_counts()

1    36702
0    33389
Name: label, dtype: int64

In [ ]:
df_st1.to_csv(PATH2, header=True, index=False, encoding='utf_8')

Percentage (Positive, Netural, Negative)

Here we have all the code for the method where we use three labels, which we call the percentage labeling method. The only difference in this code is the labeling process that will be done differently. So I will remove many of the comments here and have no explanations for the code. If the explanation is needed or something is different from the code done in the labeling binary method above it will be commented.

In [109]:
df_st1 = get_compData('T')
PATH='/content/drive/My Drive/StockTwits Data Percentage/'

In [110]:
df_st1.head()

,symbol,message,datetime,user,message_id
0,T,$UBER Didn’t I say an offer is imminent!? @eel...,2020-07-21T20:32:35Z,2892577,229708771
1,T,"$T Weird$$ stock, we just need a close above 3...",2020-07-21T20:11:39Z,1194576,229699883
2,T,$T waiting for this to go down so I can load u...,2020-07-21T19:12:10Z,3460289,229672486
3,T,$T Pretty good behavior today. Ideally end of ...,2020-07-21T18:45:06Z,3393453,229660767
4,T,$T Citi reiterates AT&amp;T headed into earnin...,2020-07-21T18:34:05Z,3729123,229656088

In [111]:
df_st1.tail()

,symbol,message,datetime,user,message_id
70311,T,@toddsullivan you think the $S network is that...,2009-10-27T18:20:40Z,409,713989
70312,T,am curious what $T would be like w/o $AAPL... ...,2009-10-27T16:27:09Z,409,713291
70313,T,@toddsullivan thinking of leaving $T; they won...,2009-10-27T16:25:18Z,409,713276
70314,T,"speaking of #stuffthatdoesn&#39;twork, $T web ...",2009-10-23T00:10:01Z,78,700068
70315,T,$T on the morning dip huge volume..,2009-10-20T13:28:37Z,1086,686674

In [112]:
df_st1['datetime'] = df_st1['datetime'].astype('datetime64[ns]')
df_st1['Date'] = [d.date() for d in df_st1['datetime']]
df_st1['Time'] = [d.time() for d in df_st1['datetime']]

In [113]:
df_st1.head(3)

,symbol,message,datetime,user,message_id,Date,Time
0,T,$UBER Didn’t I say an offer is imminent!? @eel...,2020-07-21 20:32:35,2892577,229708771,2020-07-21,20:32:35
1,T,"$T Weird$$ stock, we just need a close above 3...",2020-07-21 20:11:39,1194576,229699883,2020-07-21,20:11:39
2,T,$T waiting for this to go down so I can load u...,2020-07-21 19:12:10,3460289,229672486,2020-07-21,19:12:10

In [114]:
start_dt = str(df_st1['Date'].iloc[-1])
start_dt = str((datetime.strptime(start_dt, "%Y-%m-%d") + timedelta(days=-1)).strftime("%Y-%m-%d"))
end_dt = str(df_st1['Date'].iloc[0])
end_dt =  str((datetime.strptime(end_dt, "%Y-%m-%d") + timedelta(days=1)).strftime("%Y-%m-%d"))

In [115]:
compny = df_st1['symbol'].iloc[0]
PATH2 = PATH+compny+'_label2.2.csv'#PREVDAY
PATH = PATH+compny+'_label2.1.csv'#SAMEDAY

In [116]:
if compny =='BRK.A':
  compny = 'BRK-A'
elif compny =='BRK.B':
  compny ='BRK-B'
elif compny =='VIX':
  compny = '^VIX'
else:
  pass

In [117]:
yahoo_data = yf.download(compny, start=start_dt, end=end_dt)
yahoo_data.reset_index(level=0, inplace=True)
yahoo_data.columns

[*********************100%***********************]  1 of 1 completed

Index(['Date', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume'], dtype='object')

In [118]:
yahoo_data.head()

        Date       Open       High        Low      Close  Adj Close    Volume
0 2009-10-19  19.501511  19.690332  19.410875  19.637463   9.550315  34293718
1 2009-10-20  19.826284  19.826284  19.463745  19.629910   9.546643  45887192
2 2009-10-21  19.743202  19.780968  19.501511  19.592146   9.528277  40552664
3 2009-10-22  19.924471  20.120846  19.652569  19.712992   9.587049  57928442
4 2009-10-23  19.750755  19.826284  19.290030  19.433535   9.451140  49091140

In [119]:
yahoo_data.tail()

,Date,Open,High,Low,Close,Adj Close,Volume
2702,2020-07-15,22.711479,22.756798,22.545317,22.666162,20.012671,40985612
2703,2020-07-16,22.635952,23.036255,22.598186,22.953173,20.266079,43674920
2704,2020-07-17,23.021149,23.058912,22.794561,22.847431,20.172720,30634712
2705,2020-07-20,22.794561,22.794561,22.507553,22.545317,19.905972,42896938
2706,2020-07-21,22.575529,22.975830,22.552870,22.847431,20.172720,45341572

In [120]:
start_date = start_dt
end_date = end_dt
df_prices = pd.DataFrame(yahoo_data)
df_prices['Date'] =  pd.to_datetime(df_prices['Date'], format='%Y-%m-%d')

In [121]:
df_prices.sample(5)

,Date,Open,High,Low,Close,Adj Close,Volume
559,2012-01-06,22.711479,22.726585,22.356495,22.416918,12.476050,60348979
186,2010-07-16,18.859516,18.957705,18.617825,18.648035,9.518166,44056100
145,2010-05-18,19.531721,19.561934,19.116314,19.327795,9.695384,50265925
2616,2020-03-12,24.063444,25.249245,23.459215,23.663141,20.181248,111500925
1558,2015-12-28,26.148035,26.344412,26.132931,26.253777,17.787186,18441202

In [122]:
tweet_dates = (df_st1['Date'].astype(str)).tolist()
stock_dates = (df_prices['Date'].astype(str)).tolist()
print(len(tweet_dates))
print(len(stock_dates))

70316
2707

Now we come to the part that is diffrent form our binary labeling method. Here i will comment again and go through. Its basic math and using a definiton to either give it a 1,0, or -1 if the percentage change is over 0.5, between 0.5 and -0.5, or lower than -0.5. Here we also run the two method at the same time. Sameday and previous day gets done for the same company in one run but the code is a bit longer.

In [123]:
#Definition we will call back til. Ch stand for change, and if the stock price change is smaller than 0.5 but between -0.5 it will be 0, over 0.5 is a 1 and under -0.5 is a -1. 
def get_label(ch):
  if ch>0.5:
    return 1
  elif ch<-0.5:
    return -1
  else:
    return 0

Firstly we create three empty lists that we will use. One is called date_label, one is called dates_index and one is called date_label_same. We also set stock_open to be the open price from the data frame containing Yahoo Finance data and the same with the close price.

In [124]:
#here we make three empty lists for date_label, dates_index, and date_label_same. 
date_label = []
dates_index = []
date_label_same=[]

#Stock_close = close price column form yahoo fiance and stock_open is the open column form yahoo finance.
stock_close = df_prices['Close']
stock_open = df_prices['Open']

Under in the cell is the code that will label everything with both methods. This is kinda long since we need to firsly do it by calculating the percentage change, then giving it the label is suppose to have. We also need to do it for both methods (same day, and previous day). Therefore the loop is long but its just basic mathemathical percentage caluclations. We also need to fill out the days that there is no data, e.g. public holidays and weekends.

In [125]:
for i in range(1,len(stock_close)):
  label=99
  daydiff = datetime.strptime(stock_dates[i], "%Y-%m-%d") - datetime.strptime(stock_dates[i-1], "%Y-%m-%d")
  if daydiff.days == 1:
    change = ((stock_close[i]-stock_close[i-1])/stock_close[i-1])*100
    change_same = ((stock_close[i]-stock_open[i])/stock_open[i])*100
    if change>0.5:
      label = 1
    elif change<-0.5:
      label = -1
    else:
      label = 0
    label_same = get_label(change_same)
    date_label_same.append((datetime.strptime(stock_dates[i], "%Y-%m-%d"), change_same,label_same))
    date_label.append((datetime.strptime(stock_dates[i], "%Y-%m-%d"), change,label))
    dates_index.append(datetime.strptime(stock_dates[i], "%Y-%m-%d"))
  else:
    daysgap = daydiff.days
    daysadd = 1
    change_l_same = ((stock_close[i]-stock_open[i])/stock_open[i])*100
    change_l = ((stock_close[i]-stock_close[i-1])/stock_close[i-1])*100
    while daysgap >1:
      gapDate = datetime.strptime(stock_dates[i-1], "%Y-%m-%d") + timedelta(days=daysadd)
      change_g_mean_same = (change_l_same + date_label_same[-1][1])/2
      change_g_mean = (change_l + date_label[-1][1])/2
      if change_g_mean>0.5:
        label = 1
      elif change_g_mean<-0.5:
        label = -1
      else:
        label = 0
      label_same = get_label(change_g_mean_same)
      date_label_same.append((datetime.strptime(datetime.strftime(gapDate, "%Y-%m-%d"),"%Y-%m-%d"), change_g_mean_same,label_same))
      date_label.append((datetime.strptime(datetime.strftime(gapDate, "%Y-%m-%d"),"%Y-%m-%d"), change_g_mean,label))
      dates_index.append(datetime.strptime(datetime.strftime(gapDate, "%Y-%m-%d"),"%Y-%m-%d"))
      daysgap = daysgap - 1
      daysadd = daysadd + 1
    date_label_same.append((datetime.strptime(stock_dates[i], "%Y-%m-%d"), change_l_same,get_label(change_l_same)))
    label = get_label(change_l)
    date_label.append((datetime.strptime(stock_dates[i], "%Y-%m-%d"), change_l,label))
    date_check = datetime.strptime(stock_dates[i], "%Y-%m-%d")

    dates_index.append(date_check)

Here again we create 4 empty list that we will use. We have labeled each day for both methods for either one of three labels and we then need to go over every message that we have in the dataframe. We wil loop over, and if there is no data for that day we will set it too -99 so wee can drop it later. The change we also add to the orignal data so we can inspect that later if needed.

In [126]:
#creates 4 empty lists, for each labeling method and for change for that day.
polarity = []
change = []
polarity_same = []
change_same = []

#Starts a for loop that will go through all dates in the stocktwits data set
for index, row in df_st1.iterrows():
  
  #
  d1 = datetime.strftime(row['Date'], "%Y-%m-%d")	
  d2 = datetime.strptime(d1, "%Y-%m-%d")
  
  #If loop if the date in df stocktwits is not in yahoo fiance, and seth the change for same day and previous day to -99 and the polarity to -99. 
  if d2 not in dates_index:
    change.append(-99)
    polarity.append(-99)
    polarity_same.append(-99)
    change_same.append(-99)
    continue
  
  
  d_index = dates_index.index(d2)
  polarity_same.append(date_label_same[d_index][2])
  polarity.append(date_label[d_index][2])
  change.append(date_label[d_index][1])

df_st1['change'] = change

df_st1['label_previous'] = polarity
df_st1['label_same'] = polarity_same

Now the labeling process is done with the labels and the code under is the same as what we used in binary labeling.

In [ ]:
df_st1['message'] = df_st1['message'].str.lower()
message = df_st1['message'].tolist()
def remove_stopwords(msg):
    filtered_sentence = [w for w in msg_tokens if not w in stop_words]
    return filtered_sentence
def remove_punctuation_re(x):
    x = ' '.join(re.sub("https?://\S+","",x).split())     
    x = ' '.join(re.sub("^@\S+|\s@\S+","",x).split())     
    x = ' '.join(re.sub(r'[^$\w\s]'," ",x).split())
    x = ' '.join(re.sub(r'[^\w\s]'," ",x).split())        
    x = ' '.join(re.sub(r'_'," ",x).split())              
    return x
def rpt_replace(match):
    print(match.group(1))
    return match.group(1)+match.group(1)
def processRepeatings(data):
    re_t= re.sub(message_rpt, rpt_replace, data )
    return re_t
stop_words = sw.words("english")
tweet_tokenizer = TweetTokenizer()
detokenizer = TreebankWordDetokenizer()
message_rpt = re.compile(r"(.)\1{2,}", re.IGNORECASE)
seg_tw = Segmenter(corpus="twitter")
message_p = []
for msg in message:
    if msg == '0':
      message_p.append('-1')
    else:
      msg = emoji.demojize(msg)
      msg = contractions.fix(msg)
      msg = remove_punctuation_re(msg) 
      msg_tokens = tweet_tokenizer.tokenize(msg)
      message_seg = []
      for w in msg_tokens:
        if len(w)>=300:
          w=w[:100]
          print(w)
        message_seg.append(seg_tw.segment(w))
      msg = remove_stopwords(message_seg)
      if 'rt' in msg:
        message_p.append('-1')
      else: 
        msg = detokenizer.detokenize(msg)
        msg = processRepeatings(msg)
        message_p.append(msg)
df_st1['message'] = message_p
df_st1.drop(df_st1[df_st1['message'] == '-1'].index, inplace = True)

Since we did the labeling for both method at the same time, we need to create a copy of the original df_st1, calling it df_st2 and then drop the one of the method columns and rename it to just label. We will also here dropp everything that has the value equal -99 meaning that there is no data for the day.

In [128]:
#makes a copy of the original dataframe so we have two dataframes (one for each labeling method)
df_st2 = df_st1.copy()

#Drop the method that the dataframe should not have.
df_st1.drop(columns=['label_same'], axis=1, inplace=True)
df_st2.drop(columns=['label_previous'], axis=1, inplace=True)

#Rename the method to just label
df_st2.rename(columns = {'label_same':'label'}, inplace = True) 
df_st1.rename(columns = {'label_previous':'label'}, inplace = True) 

#Drops every rows that the label equals -99
df_st1.drop(df_st1[df_st1['label'] == -99].index, inplace = True) 
df_st2.drop(df_st2[df_st2['label'] == -99].index, inplace = True)

Now all the coding for the percentage labeling method is done. We can now inspect the two dataframe we have gotten from running all of the code. This is a pre-processing, cleaned, and labeled dataframes that we will use for our regression and visualization.

In [129]:
df_st1.head()

,symbol,message,datetime,user,message_id,Date,Time,change,label
0,T,uber say offer imminent thinks emotional whene...,2020-07-21 20:32:35,2892577,229708771,2020-07-21,20:32:35,1.340032,1
1,T,weird stock need close 30 4 rocket,2020-07-21 20:11:39,1194576,229699883,2020-07-21,20:11:39,1.340032,1
2,T,waiting go load calls smh,2020-07-21 19:12:10,3460289,229672486,2020-07-21,19:12:10,1.340032,1
3,T,pretty good behavior today ideally end day see...,2020-07-21 18:45:06,3393453,229660767,2020-07-21,18:45:06,1.340032,1
4,T,citi reiterates amp headed earnings expecting ...,2020-07-21 18:34:05,3729123,229656088,2020-07-21,18:34:05,1.340032,1

In [130]:
df_st1['label'].value_counts()

 1    24701
 0    23987
-1    21403
Name: label, dtype: int64

In [131]:
df_st2.head()

,symbol,message,datetime,user,message_id,Date,Time,change,label
0,T,uber say offer imminent thinks emotional whene...,2020-07-21 20:32:35,2892577,229708771,2020-07-21,20:32:35,1.340032,1
1,T,weird stock need close 30 4 rocket,2020-07-21 20:11:39,1194576,229699883,2020-07-21,20:11:39,1.340032,1
2,T,waiting go load calls smh,2020-07-21 19:12:10,3460289,229672486,2020-07-21,19:12:10,1.340032,1
3,T,pretty good behavior today ideally end day see...,2020-07-21 18:45:06,3393453,229660767,2020-07-21,18:45:06,1.340032,1
4,T,citi reiterates amp headed earnings expecting ...,2020-07-21 18:34:05,3729123,229656088,2020-07-21,18:34:05,1.340032,1

In [132]:
df_st2['label'].value_counts()

 0    27303
 1    21680
-1    21108
Name: label, dtype: int64

Lastly we will save the files as a .csv file. This file will be saved where we have our PATH2 and PATH are and we wrote that longer up in the code.

In [ ]:
df_st1.to_csv(PATH2, header=True, index=False, encoding='utf_8')
df_st2.to_csv(PATH, header=True, index=False, encoding='utf_8')

# Visualization, Combinding

Under in the next cells, we have the code where we first combine the dataset we made over and saved to drive. Then afterward visualize them so we know what data we will look at. For our paper, this is where most of our figures comes from.

First we need to generate the final dataset we will use for regression and visualization. For now, we only have 25*2*2 = 100 files (4 for each company). Now we will combine the ones we will use in our research and then save them in drive as their own CSV file.

In [1]:
pb = '/content/drive/My Drive/StockTwits Data Binary/'
pp = '/content/drive/My Drive/StockTwits Data Percentage/'
l1 = 'label2.1.csv'
l2 = 'label2.2.csv'

In [ ]:
binary_same = [pb+'HD_binary_'+l2,pb+'T_binary_'+l2,pb+'GOOG_binary_'+l2,pb+'BRK.A_binary_'+l2]
binary_prev = [pb+'HD_binary_'+l1,pb+'T_binary_'+l1,pb+'GOOG_binary_'+l1,pb+'BRK.A_binary_'+l1]
percentage_same = [pp+'HD_'+l2,pp+'T_'+l2,pp+'PG_'+l2,pp+'GOOG_'+l2,pp+'BRK.A_'+l2]
percentage_prev = [pp+'HD_'+l1,pp+'T_'+l1,pp+'PG_'+l1,pp+'GOOG_'+l1,pp+'BRK.A_'+l1]

In [ ]:
binary_same = pd.read_csv('/content/combined_0.csv')
binary_prev = pd.read_csv('/content/combined_1.csv')
percentage_same = pd.read_csv('/content/combined_2.csv')
percentage_prev = pd.read_csv('/content/combined_3.csv')

binary_same.to_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Binary_Sameday.csv', header=True, index=False, encoding='utf_8')
binary_prev.to_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Binary_Prevday.csv', header=True, index=False, encoding='utf_8')
percentage_same.to_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Percentage_Sameday.csv', header=True, index=False, encoding='utf_8')
percentage_prev.to_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Percentage_Prevday.csv', header=True, index=False, encoding='utf_8')

In [ ]:
binary_same.drop(binary_same[binary_same['Date'] <= '2019-07-20'].index, inplace = True)
binary_same.reset_index(drop=True, inplace=True)

binary_prev.drop(binary_prev[binary_prev['Date'] <= '2019-07-20'].index, inplace = True)
binary_prev.reset_index(drop=True, inplace=True)

percentage_same.drop(percentage_same[percentage_same['Date'] <= '2019-07-20'].index, inplace = True)
percentage_same.reset_index(drop=True, inplace=True)

percentage_prev.drop(percentage_prev[percentage_prev['Date'] <= '2019-07-20'].index, inplace = True)
percentage_prev.reset_index(drop=True, inplace=True)

In [ ]:
print('Binary same day value counts:')
print(binary_same['label'].value_counts())
print()
print('Binary prev day value counts:')
print(binary_prev['label'].value_counts())
print()
print('Percentage same day value counts:')
print(percentage_same['label'].value_counts())
print()
print('Percentage prev day value counts:')
print(percentage_prev['label'].value_counts())

Now to the visualization. Here we will make pie plots to see the percentage of labeling used in each of the different methods (same day/previous day) and for both methods. We will also look at a plot where we look at the count of how many messages we have posted to each company. Lastly, we have a word cloud, that shows what words its found most frequently in the combined dataset.

In [ ]:
print('binary_same')
plt.figure(figsize = (9,3))
ax = plt.pie(binary_same['label'].value_counts(), colors = colors, autopct="%1.1f%%", labels=["Positive","Negative"])

In [ ]:
print('binary_prev')
plt.figure(figsize = (9,3))
ax = plt.pie(binary_prev['label'].value_counts(), colors = colors, autopct="%1.1f%%", labels=["Positive","Negative"])

In [ ]:
print('percentage_same')
colors = ['cornflowerblue', 'antiquewhite', 'lightcoral']
plt.figure(figsize = (9,3))
ax = plt.pie(percentage_same['label'].value_counts(), colors = colors, autopct="%1.1f%%", labels=["Positive","Netrual","Negative"])

In [ ]:
print('percentage_prev')
colors = ['antiquewhite', 'cornflowerblue', 'lightcoral']
plt.figure(figsize = (9,3))
ax = plt.pie(percentage_prev['label'].value_counts(), colors = colors, autopct="%1.1f%%", labels=["Netrual","Positive","Negative"])

In [ ]:
plt.figure(figsize = (9,3))
plt.ticklabel_format(style='plain', axis='x')


ax = sns.countplot(y="symbol", data=df, palette=("coolwarm"), order = df['symbol'].value_counts().index)
ax.set(xlabel='Number of StockTwits messages', ylabel='')

In [ ]:
from wordcloud import WordCloud, STOPWORDS
import matplotlib.pyplot as plt
import pandas as pd

comment_words = ''
set1 = set(STOPWORDS)
set2 =  {"aapl","adbe","amzn","bac","brk.a","brk.b","brk","dia","dis","fb","goog","googl","hd","intc","jnj","nflx","pg","qqq","spy","t","tsla","unh","v","vix","vz","wmt","quot","home","depot","google","amp"}
stopwords = set.union(set1, set2)
#stopwords = set(STOPWORDS)

for val in df.message:
     
    # typecaste each val to string
    val = str(val)
 
    # split the value
    tokens = val.split()
     
    # Converts each token into lowercase
    for i in range(len(tokens)):
        tokens[i] = tokens[i].lower()
     
    comment_words += " ".join(tokens)+" "
  
wordcloud = WordCloud(width = 2400, height = 1600, background_color ='white',stopwords = stopwords, min_font_size = 5).generate(comment_words)

plt.figure(figsize = (8, 8), facecolor = None)
plt.imshow(wordcloud)
plt.axis("off")
plt.tight_layout(pad = 0)

plt.show()

In [ ]:
result = {"Model":['Logistic Reggresion','Navis Bayes','Random Forest','BERT'],"Time":[33,65,100,185]}
df_results = pd.DataFrame(result) 

plt.figure(figsize = (9,3))
plt.ticklabel_format(style='plain', axis='x')


sns.barplot(x=df_results['Model'], y=df_results['Time'], palette=("coolwarm"))
plt.title("Model running time in minuttes")

# Regression

Under the next cells is the models we have used in our research. These models are Navis Bayes, Logistic regression, Random forest, and BERT.

Firstly we need to read the correct dataframe for the method we will run all the regression for. We will also randomnise them and print the head to look at how it looks.

In [ ]:
#df = pd.read_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Binary_Sameday.csv')
#df = pd.read_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Binary_Prevday.csv')
#df = pd.read_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Percentage_Sameday.csv')
df = pd.read_csv('/content/drive/MyDrive/HD_T_GOOG_BRK-A_TSLA_Percentage_Prevday.csv')
df = df.sample(frac=1)
df.head()

Since for our research we will just look at data from the last year we will drop everything else. We can also change this to other dates and add or take away data. We also print out the labels value counts so we can see how many labels we will work with.

In [ ]:
df.drop(df[df['Date'] <= '2019-07-20'].index, inplace = True)
df['label'].value_counts()

Then we need to split the data so we can acutally work with it for our models. We will use random_state = 42, and the test size will be 10 percent.

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(df['message'], df['label'], random_state = 42, test_size = 0.1)
print('y_train value counts:')
print(y_train.value_counts())
print()
print('y_test value counts:')
print(y_test.value_counts())
print()

Navis Bayes

In [ ]:
tf_idf = TfidfVectorizer(use_idf=True,ngram_range=(2,2))
train_features = tf_idf.fit_transform(X_train.values.astype('U'))
test_features = tf_idf.transform(X_test.values.astype('U'))

In [ ]:
params = {'alpha': [0.01, 0.1, 0.5, 1.0, 10.0],}
model = GridSearchCV(MultinomialNB(), param_grid=params, n_jobs=-1, cv=5, verbose=5)
model.fit(train_features, y_train)

In [ ]:
print('Train Accuracy : %.3f'%model.best_estimator_.score(train_features, y_train))
print('Test Accuracy : %.3f'%model.best_estimator_.score(test_features, y_test))
print('Best Accuracy Through Grid Search : %.3f'%model.best_score_)
print('Best Parameters : ',model.best_params_)

In [ ]:
y_pred = model.predict(test_features)
print(classification_report(y_test, y_pred))

Logistic Regression

In [ ]:
tuned_parameters = {'vect__ngram_range': [(1, 2),(2, 2)], 'clf__C':[0.01,0.1,1], 'clf__penalty':["l1","l2"]}

text_clf = Pipeline([('vect', CountVectorizer()),('clf', LogisticRegression(max_iter=5000, solver='liblinear'))])

score = 'f1_macro'
logmodel_cv=GridSearchCV(text_clf,tuned_parameters,cv=5, scoring=score)
logmodel_cv.fit(x_train.values.astype('U'), y_train)

In [ ]:
print(classification_report(y_test, logmodel_cv.predict(x_test.values.astype('U')), digits=4))

In [ ]:
logmodel_cv.best_params_

In [ ]:
logmodel_cv.best_estimator_

Random Forest

In [ ]:
RandomForestClassifier(class_weight='blanced')
text_clf = Pipeline([('vect', CountVectorizer()), ('tfidf', TfidfTransformer()), ('clf', RandomForestClassifier())])
tuned_parameters = {'tfidf__use_idf': ['True'], 'clf__max_features':['sqrt'], 'clf__max_depth' : [5], 'clf__n_estimators':[200], 'clf__class_weight': ['balanced']}
text_clf.get_params().keys()
clf = GridSearchCV(text_clf, tuned_parameters)
clf.fit(X_train.values.astype('U'), y_train)
print(classification_report(y_test, clf.predict(X_test.values.astype('U')), digits=4))

In [ ]:
clf = GridSearchCV(text_clf, tuned_parameters)
clf.fit(X_train.values.astype('U'), y_train)

In [ ]:
print(classification_report(y_test, clf.predict(X_test.values.astype('U')), digits=4))

In [ ]:
%matplotlib inline
predicted_forest = clf.predict(X_test.values.astype('U'))
plt.figure(dpi=100)
mat = confusion_matrix(y_test, predicted_forest)
sns.heatmap(mat.T, annot=True, fmt='d', cbar=False)
plt.title('Confusion Matrix for Random Forest Classifier')
plt.xlabel('true label')
plt.ylabel('predicted label')
plt.show()

BERT